/* GENERAL */
*{
    margin: 0px;
    padding: 0px;
}
a{
    text-decoration: none;
    color: aaa;
}
body{
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    background-color: #ece2df;
}
h1{
    text-transform: uppercase;
}

/*COMMUN*/
.inscription, .connexion, .accueil, .accueil_admin, .dashboard, .ajout{
    margin: 42 auto;
}

/* ACCUEIL */
.accueil{
    text-align: center;
}
.accueil h1{
    text-transform: uppercase;
}
#contour{
    margin: 24 0 24 0;
    padding: 7px;
    border: 2px solid #aa7a6e;
    border-radius: 3px;
}

/*ACCUEIL ADMIN*/
.accueil_admin a{
    margin-top: 10.5px;
}

/*INSCRIPTION*/
.inscription #btInscription{
    margin-top: 10.5px;
}

/*CONNEXION*/
.connexion #btConnecter{
    margin-top: 10.5px;
}

/*DASHBOARD*/
.dashboard a, button{
    margin-top: 10.5px;
}

/*AJOUT*/
.ajout #btAjout{
    margin-top: 10.5px;
}



